body {
        background-image: url('https://www.teahub.io/photos/full/222-2228027_minimalist-aesthetic-backgrounds-laptop.jpg');
        background-repeat: repeat;
        background-size: cover;https://www.freepik.com/free-photos-vectors/aesthetic-wallpaper
    font-family: 'Fahkwang', sans-serif;
  }
  
 header {
      background-color: black;
      color: white;
      height: 70px;
      padding: 10px;
    }
  
     footer {
        background-color: black;
        color: white;
        height: 70px;
        padding: 10px;
        text-align: center;   
     }
      
.mainpage {
    width: 1024px;
    margin: 0 auto
    }
      
    
   .headname1{color: rgb(238, 255, 0);}

   .headname2{color: rgb(255, 255, 255);}
  

   .graphic{
    background-image: url("images/chantaburi-cover.jpeg");
    height: 320px;
    padding: auto;
   }

   .maps{
    border: 1px solid goldenrod;
    height: 300px;
   }