body {
        background-image: url(<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31149.62219263938!2d102.0742375990456!3d12.601830080343092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31048192adecbd05%3A0xf0e5e2b5d3162870!2sChanthaburi%2C%20Mueang%20Chanthaburi%20District%2C%20Chanthaburi%2022000!5e0!3m2!1sen!2sth!4v1657080881075!5m2!1sen!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>');
        background-repeat: repeat;
        background-size: cover;https://www.freepik.com/free-photos-vectors/aesthetic-wallpaper
    font-family: 'Fahkwang', sans-serif;
  }
  
 header {
      background-color: black;
      color: white;
      height: 70px;
      padding: 10px;
    }
  
     footer {
        background-color: black;
        color: white;
        height: 70px;
        padding: 10px;
        text-align: center;   
     }
      
.mainpage {
    width: 1024px;
    margin: 0 auto
    }
      
    
   .headname1{color: rgb(238, 255, 0);}

   .headname2{color: rgb(255, 255, 255);}
  

   .graphic{
    background-image: url("images/chantaburi-cover.jpeg");
    height: 320px;
    padding: auto;
   }

   .maps{
    border: 1px solid goldenrod;
    height: 300px;
   }